
<div class="container">
  <div class="padded">
    <ul class="list-inline text-center">
      <% ["anne", "seb", "fabia"].each do |member| %>
        <li>
          <%= image_tag "#{member}.jpg", class: "avatar-large" %>
          <h3><%= member.capitalize %></h3>
        </li>
      <% end %>
    </ul>
  </div>
</div>
